<form action="{{ url_for('index') }}" method="POST" name="filterform" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div class="form-group">{{ form.marketCap.label }} {{ form.marketCap }}</div>
  {{ form.submit }}
</form>
<br>
<table border="1" cellpadding="5" cellspacing="5">
  <tr>
    <th>Ticker</th>
    <th>Market Cap</th>
    <th>Debt</th>
    <th>Ratio of Debt and Marketcap</th>
    <th>Cash</th>
    <th>Sum of Net Income</th>
    <th>Shares Outstanding</th>
    <th>Ratio PE</th>
    <th>EBITDA</th>
    <th>Ratio PE ttm</th>
    <th>Ratio PE forward</th>
    <th>Date
  </tr>
    {% for row in alist %}
        <tr>
        {% for d in row %}
            <td>{{ d }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
